/* Header */

nav.nav_menu.active {
    width: 50%;
    margin-left: 50%;
    top: 5.9rem;
}

/* Home */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_home {
    max-width: 50rem;
}

.image-home {
    margin: auto auto;
}

.container_image-home {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container_text-info {
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
}

.home_text-1 {
     font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin-right: 1rem;
    font-size: 2.4rem;
}

.home_text-2 {
    font-size: 3.6rem;
}

/* Sobre mi */

.sobreMi {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_texto-sobreMi {
    padding: 4rem;
}

.title_sobreMi {
    font-size: 2rem;
}

.texto_sobreMi {
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 125%
}

.container_image-sobreMi {
    width: 65%;
    margin-top: 2rem;
}

/* Habilidades */

.cards_container--habilidades {
    column-gap: 4rem;
}

/* Formación */

.cards_container--formacion {
    flex-wrap: wrap;
    flex-direction: row;
}

.cards--formacion {
    margin: 0 2rem 3rem 2rem;
}

/* Proyectos */

.cards--proyectos {
    max-width: 48rem;
}

.container_btn--proyectos button {
    width: 40rem;
}

/* Contacto */
.container--contacto {
    margin: 0 auto;
    width: 80%;
}

/* Buy crypto */

.text-title {
    font-size: 2.5rem;
}

.text-description {
    font-size: 1rem;
}

.item-icon {
    font-size: 1.5rem;
}

.title-item {
    font-size: 1.2rem;

}
.desc-item {
    font-size: 1rem;
}

.problem-title {
    font-size: 1rem;
}

.problem-desc {
    font-size: 2rem;
}

.description {
    font-size: 1rem;
}

.problem-desc-1 {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 150%;
}

.problem-desc-3 {
    font-size: 2rem;
}

.problem-desc-s{
    font-size: 2rem;
}